{% extends 'PhoenixAdminBundle::base.html.twig' %}

{% block stylesheets %}

    {% stylesheets filter="compass"
        '@MarkupJobQueueBundle/Resources/sass/admin/job_queue.scss'
            output='admin/css/compiled/job_queue.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" charset="utf-8" />
    {% endstylesheets %}

{% endblock stylesheets %}

{% block content %}
	<div id="heading-and-toolbar">
	<h1>Job Queue</h1>
	<div id="toolbar">
		{% include 'MarkupJobQueueBundle:View:toolbar.html.twig' %}
	</div>
</div>

<hr>
{% endblock content %}