services:
    markup_job_queue.publisher:
        class: Markup\JobQueueBundle\Publisher\JobPublisher
        calls:
          - [ setContainer,[ @service_container ] ]
    markup_job_queue.consumer:
        class: Markup\JobQueueBundle\Consumer\JobConsumer
        calls:
          - [ setContainer,[ @service_container ] ]
    markup_job_queue.manager:
        class: Markup\JobQueueBundle\Service\JobManager
        arguments:
            - @markup_job_queue.publisher
    jobby:
        alias: markup_job_queue.manager
    markup_admin_job_queue_recurring_console_command_reader:
        class: Markup\JobQueueBundle\Service\RecurringConsoleCommandReader
        arguments:
            - %kernel.root_dir%
    markup_job_queue.writer.supervisord_config_file:
        class: Markup\JobQueueBundle\Service\SupervisordConfigFileWriter
        arguments:
            - @logger
            - %kernel.root_dir%
            - %kernel.environment%