@import "compass";
@import "susy";

#heading-and-toolbar {
	@include clearfix();

	h1 {
		@include span-columns(4);
		margin-left:0;
	}

	#toolbar {
		@include span-columns(8 omega);
		text-align:right;
		margin-top:1em;
		margin-bottom:2em;
	}
}

td.date {
	width:13%;
}
